<div class="list">
    <app-todo-list-item *ngFor="let item of items" (remove)="remove(item)">
        {{ item }}
    </app-todo-list-item>
</div>

<app-todo-list-item *ngIf="shown" (remove)="shown = false"
    >Test Item</app-todo-list-item
>
<button (click)="shown = true">Show</button>

<form class="form" (submit)="addTodo()">
    <input type="text" [formControl]="itemControl" />
    <button (click)="addTodo()">Add todo</button>
</form>
